.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938500;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-8.078943px;}
._5{margin-left:-2.351677px;}
._0{width:1.273108px;}
._1{width:3.472287px;}
._2{width:5.502533px;}
._4{width:16.315353px;}
._6{width:659.485320px;}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:42.806399px;}
.fs1{font-size:48.921599px;}
.fs2{font-size:91.727998px;}
.fs0{font-size:110.073597px;}
.y0{bottom:0.000000px;}
.y19{bottom:3.057599px;}
.y31{bottom:19.109997px;}
.y1{bottom:32.614817px;}
.y53{bottom:32.869206px;}
.y18{bottom:39.748798px;}
.y52{bottom:46.628406px;}
.y30{bottom:55.801196px;}
.y17{bottom:58.094397px;}
.y51{bottom:72.618005px;}
.y2f{bottom:74.146796px;}
.y16{bottom:94.785597px;}
.y2e{bottom:110.837995px;}
.y15{bottom:113.131196px;}
.y50{bottom:113.131205px;}
.y4f{bottom:131.476804px;}
.y2d{bottom:147.529194px;}
.y14{bottom:149.822395px;}
.y2c{bottom:165.874794px;}
.y13{bottom:168.167995px;}
.y4e{bottom:171.990003px;}
.y2b{bottom:184.220393px;}
.y2a{bottom:202.565993px;}
.y12{bottom:204.859194px;}
.y11{bottom:223.204794px;}
.y4d{bottom:223.204802px;}
.y29{bottom:239.257192px;}
.y10{bottom:241.550393px;}
.y4c{bottom:241.550401px;}
.y28{bottom:257.602792px;}
.y4b{bottom:259.896001px;}
.y4a{bottom:278.241601px;}
.yf{bottom:283.592392px;}
.y27{bottom:299.644791px;}
.y49{bottom:320.283600px;}
.ye{bottom:333.278391px;}
.y26{bottom:349.330789px;}
.yd{bottom:351.623991px;}
.y25{bottom:367.676389px;}
.yc{bottom:369.969590px;}
.y48{bottom:369.969598px;}
.y47{bottom:388.315198px;}
.y24{bottom:404.367588px;}
.y46{bottom:406.660798px;}
.yb{bottom:412.011589px;}
.y23{bottom:422.713188px;}
.y45{bottom:443.351997px;}
.y22{bottom:459.404387px;}
.ya{bottom:461.697588px;}
.y3c{bottom:463.226391px;}
.y21{bottom:477.749986px;}
.y9{bottom:480.043187px;}
.y44{bottom:480.043196px;}
.y3b{bottom:481.571991px;}
.y43{bottom:498.388795px;}
.y3a{bottom:499.917591px;}
.y20{bottom:514.441185px;}
.y8{bottom:516.734387px;}
.y1f{bottom:532.786785px;}
.y7{bottom:535.079986px;}
.y39{bottom:536.608790px;}
.y42{bottom:540.430794px;}
.y1e{bottom:551.132385px;}
.y38{bottom:554.954389px;}
.y6{bottom:571.771185px;}
.y5{bottom:590.116785px;}
.y41{bottom:590.116793px;}
.y37{bottom:591.645588px;}
.y1d{bottom:593.174384px;}
.y4{bottom:608.462384px;}
.y40{bottom:608.462393px;}
.y36{bottom:609.991188px;}
.y3f{bottom:626.807992px;}
.y35{bottom:628.336788px;}
.y1c{bottom:642.860382px;}
.y3e{bottom:645.153592px;}
.y55{bottom:647.446797px;}
.y3{bottom:648.975584px;}
.y1b{bottom:661.205982px;}
.y34{bottom:665.027987px;}
.y54{bottom:674.965196px;}
.y33{bottom:683.373586px;}
.y2{bottom:685.666783px;}
.y3d{bottom:687.195591px;}
.y1a{bottom:697.897181px;}
.y32{bottom:701.719186px;}
.h6{height:31.164229px;}
.h4{height:35.616262px;}
.h5{height:66.780491px;}
.h3{height:80.136589px;}
.h2{height:713.185182px;}
.h1{height:790.500000px;}
.h0{height:792.000000px;}
.w1{width:611.500000px;}
.w2{width:611.519988px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x3{left:45.863999px;}
.x4{left:52.743599px;}
.x1{left:114.659997px;}
.x2{left:238.492794px;}
.x5{left:311.875193px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-10.771925pt;}
._5{margin-left:-3.135569pt;}
._0{width:1.697478pt;}
._1{width:4.629716pt;}
._2{width:7.336711pt;}
._4{width:21.753804pt;}
._6{width:879.313760pt;}
.fs3{font-size:57.075199pt;}
.fs1{font-size:65.228798pt;}
.fs2{font-size:122.303997pt;}
.fs0{font-size:146.764797pt;}
.y0{bottom:0.000000pt;}
.y19{bottom:4.076798pt;}
.y31{bottom:25.479996pt;}
.y1{bottom:43.486423pt;}
.y53{bottom:43.825609pt;}
.y18{bottom:52.998397pt;}
.y52{bottom:62.171208pt;}
.y30{bottom:74.401595pt;}
.y17{bottom:77.459197pt;}
.y51{bottom:96.824007pt;}
.y2f{bottom:98.862394pt;}
.y16{bottom:126.380795pt;}
.y2e{bottom:147.783993pt;}
.y15{bottom:150.841595pt;}
.y50{bottom:150.841606pt;}
.y4f{bottom:175.302405pt;}
.y2d{bottom:196.705592pt;}
.y14{bottom:199.763194pt;}
.y2c{bottom:221.166392pt;}
.y13{bottom:224.223993pt;}
.y4e{bottom:229.320004pt;}
.y2b{bottom:245.627191pt;}
.y2a{bottom:270.087990pt;}
.y12{bottom:273.145592pt;}
.y11{bottom:297.606391pt;}
.y4d{bottom:297.606403pt;}
.y29{bottom:319.009589pt;}
.y10{bottom:322.067191pt;}
.y4c{bottom:322.067202pt;}
.y28{bottom:343.470389pt;}
.y4b{bottom:346.528001pt;}
.y4a{bottom:370.988801pt;}
.yf{bottom:378.123189pt;}
.y27{bottom:399.526387pt;}
.y49{bottom:427.044800pt;}
.ye{bottom:444.371188pt;}
.y26{bottom:465.774386pt;}
.yd{bottom:468.831987pt;}
.y25{bottom:490.235185pt;}
.yc{bottom:493.292787pt;}
.y48{bottom:493.292798pt;}
.y47{bottom:517.753597pt;}
.y24{bottom:539.156784pt;}
.y46{bottom:542.214397pt;}
.yb{bottom:549.348785pt;}
.y23{bottom:563.617584pt;}
.y45{bottom:591.135996pt;}
.y22{bottom:612.539182pt;}
.ya{bottom:615.596784pt;}
.y3c{bottom:617.635189pt;}
.y21{bottom:636.999982pt;}
.y9{bottom:640.057583pt;}
.y44{bottom:640.057594pt;}
.y3b{bottom:642.095988pt;}
.y43{bottom:664.518394pt;}
.y3a{bottom:666.556787pt;}
.y20{bottom:685.921581pt;}
.y8{bottom:688.979182pt;}
.y1f{bottom:710.382380pt;}
.y7{bottom:713.439982pt;}
.y39{bottom:715.478386pt;}
.y42{bottom:720.574393pt;}
.y1e{bottom:734.843179pt;}
.y38{bottom:739.939186pt;}
.y6{bottom:762.361580pt;}
.y5{bottom:786.822380pt;}
.y41{bottom:786.822391pt;}
.y37{bottom:788.860785pt;}
.y1d{bottom:790.899178pt;}
.y4{bottom:811.283179pt;}
.y40{bottom:811.283190pt;}
.y36{bottom:813.321584pt;}
.y3f{bottom:835.743990pt;}
.y35{bottom:837.782383pt;}
.y1c{bottom:857.147177pt;}
.y3e{bottom:860.204789pt;}
.y55{bottom:863.262396pt;}
.y3{bottom:865.300778pt;}
.y1b{bottom:881.607976pt;}
.y34{bottom:886.703982pt;}
.y54{bottom:899.953595pt;}
.y33{bottom:911.164782pt;}
.y2{bottom:914.222377pt;}
.y3d{bottom:916.260788pt;}
.y1a{bottom:930.529575pt;}
.y32{bottom:935.625581pt;}
.h6{height:41.552305pt;}
.h4{height:47.488349pt;}
.h5{height:89.040654pt;}
.h3{height:106.848785pt;}
.h2{height:950.913576pt;}
.h1{height:1054.000000pt;}
.h0{height:1056.000000pt;}
.w1{width:815.333333pt;}
.w2{width:815.359984pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x3{left:61.151999pt;}
.x4{left:70.324798pt;}
.x1{left:152.879996pt;}
.x2{left:317.990393pt;}
.x5{left:415.833590pt;}
}
